<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <br><br><br><br>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="curso.nome" class="green-text" type="text">
            <label for="">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="curso.codigo" class="green-text" type="number">
            <label for="">Codigo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="curso.descricao" class="green-text" type="text">
            <label for="">Descricao</label>
          </div>
        </div>
        <ul class="collection">
          <li class="collection-item" *ngFor="let disciplina of disciplinas">
            {{disciplina.nome}}
          </li>
        </ul>
        <div class="row center-align">
          <button (click)="addCurso()" class="btn green" *ngIf="!update()">Salvar</button>
          <button (click)="atualizar()" class="btn green" *ngIf="update()">Atualizar</button>
        </div>
        
      </div>
    </div>
  </div>
</div>