<div class="container">
  <div class="row">
    <h4>Adicionar aula</h4>
    <div class="input-field col s12">
      <input [(ngModel)]="aula.numeroAula" class="green-text" type="number">
      <label for="">Número de aulas</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m12">
      <select class="browser-default" [(ngModel)]="aula.turno">
        <option value="" disabled selected>Selecione o turno da aula ...</option>
        <option value="MANHA">Manhã</option>
        <option value="TARDE">Tarde</option>
        <option value="NOITE">Noite</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="time" [(ngModel)]="aula.horaInicio" class="green-text">
      <label for="">Hora de início</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="time" [(ngModel)]="aula.horaFim" class="green-text">
      <label for="">Hora de final</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aula.matriculaProfessor" class="green-text" type="text">
      <label for="">Codigo do Professor</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aula.codigoDisciplina" class="green-text" type="number">
      <label for="">Codigo da disciplina</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aula.codigoAmbiente" class="green-text" type="text">
      <label for="">Codigo do ambiente</label>
    </div>
  </div>
  <div class="fixed-action-btn">
      <button class="btn-floating waves-effect waves-light modal-trigger btn-large green"><i class="large material-icons"
          (click)="addAula()">save</i></button>
    </div>
</div>