<div align="center" style="margin-top: 15%">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Login" aria-label="login"
          aria-describedby="addon-wrapping">
      </div>
      <br />
      <div class="input-group flex-nowrap">
        <input type="password" class="form-control" placeholder="Senha" aria-label="senha"
          aria-describedby="addon-wrapping">
      </div>
      <br /><br />
      <button type="button" class="btn btn-success btn-block" routerLink="/inicioCoordenador">Entrar</button>
    </div>
  </div>
</div>