<div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
              <br><br>
              <div class="row center-align">
                <img src="../../../assets/hifpb_medio.png" width="150px" alt="">
              </div>
              <div class="row center-align">
                <h3 class="green-text">Horários</h3>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input [(ngModel)]="coordenador.matricula" class="green-text" type="number">
                  <label for="">Login</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input [(ngModel)]="coordenador.senha" class="green-text" type="password">
                  <label for="">Senha</label>
                </div>
              </div>
              <div class="row center-align">
                <button (click)="login()" class="btn green">Login</button>
              </div>
            </div>
        </div>  
    </div>
</div>