<div class="container">
  <ul class="collection">
    <b>Horário</b>
    <li class="collection-item" *ngFor="let diaLetivo of horarios.diasLetivos">
      <ul>
        <b>Dias letivos</b>
        <li class="collection-item" *ngFor="let aula of diaLetivo.aulas">
          Hora inicio: {{aula.horaInicio}} -
          Hora fim: {{aula.horaFim}} -
          Turno: {{aula.turno}} -
          Numero de aulas: {{aula.numeroAula}} -
          Professor: {{aula.matriculaProfessor}} -
          Disciplina: {{aula.codigoDisciplina}}
        </li>
      </ul>
    </li>
  </ul>
</div>