<div class="container">
  <h4>Adicionar dia letivo</h4>
  <div class="input-field col s12 m12">
    <select class="browser-default" [(ngModel)]="diaLetivo.dia">
      <option value="" disabled selected>Selecionar dia letivo ...</option>
      <option value="Segunda-feira">Segunda</option>
      <option value="Terça-feira">Terça</option>
      <option value="Quarta-feira">Quarta</option>
      <option value="Quinta-feira">Quinta</option>
      <option value="Sexta-feira">Sexta</option>
    </select>
  </div>
  <h5>Aulas</h5>
  <ul class="collection">
    <li class="collection-item" *ngFor="let aula of aulas">
        <b>Horário: </b> {{aula.horaInicio}} -  {{aula.horaFim}}<br>
        <b>Matrícula do professor: </b> {{aula.matriculaProfessor}}<br>
        <b>Código da disciplina: </b> {{aula.codigoDisciplina}} <br>
        <b>Código do ambiente: </b> {{aula.codigoAmbiente}}
        <br>
        
      </li>
    </ul>
  <div class="fixed-action-btn" style="margin-bottom: 7%">
    <button class="btn-floating waves-effect waves-light modal-trigger btn-large blue"><i class="large material-icons"
        (click)="addDia()">save</i></button>
  </div>
  <div class="fixed-action-btn">
    <button class="btn-floating waves-effect waves-light modal-trigger btn-large green"><i class="large material-icons"
        routerLink="/addAula">add</i></button>
  </div>
</div>