<div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
              <br><br><br><br>
              <div class="row">
                  <div class="input-field col s12">
                    <input [(ngModel)]="coordenador.nome" class="green-text" type="text">
                    <label for="">Nome</label>
                  </div>
                </div>
              <div class="row">
                <div class="input-field col s12">
                  <input [(ngModel)]="coordenador.matricula" class="green-text" type="number">
                  <label for="">Login</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input  [(ngModel)]="coordenador.senha" class="green-text" type="password">
                  <label for="">Senha</label>
                </div>
              </div>
              <div class="row center-align">
                <button (click)="addCoordenador()" class="btn green">Salvar</button>
              </div>
            </div>
        </div>  
    </div>
</div>