<app-menu-coordenador></app-menu-coordenador>
<div class="container">
  <h4>Gerenciamento de Cursos</h4>
  <ul class="collection">
    <li class="collection-item" *ngFor="let curso of cursos" (click)=getHorario(curso.codigo)>
      {{curso.nome}}: {{curso.descricao}}
      <div class="right-align">
        <button class="btn right-align" (click)="atualizar(curso)">Atualizar</button>
        <button class="btn right-align red" (click)="deletar(curso.codigo)">Deletar</button>
      </div>
    </li>
  </ul>
  <div class="fixed-action-btn">
    <button class="btn-floating waves-effect waves-light modal-trigger btn-large green" routerLink="/addCurso"><i
        class="large material-icons">add</i></button>
  </div>
</div>