<app-menu-coordenador></app-menu-coordenador>
<div class="container">
  <h2>Gerenciamento de Ambientes</h2>
  <ul class="collection">
    <li class="collection-item" *ngFor="let ambiente of ambientes" (click)=getHorario(ambiente.codigo)>
      {{ambiente.nome}}
      <div class="right-align">
        <button class="btn right-align" (click)="atualizar(ambiente)">Atualizar</button>
        <button class="btn right-align red" (click)="deletar(ambiente.codigo)">Deletar</button>
      </div>
    </li>
  </ul>
  <div class="fixed-action-btn">
    <button class="btn-floating waves-effect waves-light modal-trigger btn-large green" routerLink="/addAmbiente"><i
        class="large material-icons">add</i></button>
  </div>
</div>