<app-menu></app-menu>
<div class="col s12">
    <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a href="#test1">Cursos</a></li>
        <li class="tab col s3"><a href="#test2">Professores</a></li>
        <li class="tab col s3"><a href="#test3">Ambientes</a></li>
        <li class="tab col s3"><a href="#test4">Coordenadores</a></li>
    </ul>
</div>
<div id="test1" class="col s12">
    <app-lista-curso></app-lista-curso>
</div>
<div id="test2" class="col s12">
    <app-lista-professor></app-lista-professor>
</div>
<div id="test3" class="col s12">
    <app-lista-ambiente></app-lista-ambiente>
</div>
<div id="test4" class="col s12">
    <app-lista-coordenador></app-lista-coordenador>
</div>    