<div align="center" style="margin-top: 5%">
    <div class="card" style="width: 90%; height: 4rem;">
        <ul class="nav justify-content-center" style="margin-top: 1%">
            <li class="nav-item">
                <a class="nav-link" routerLink="/listaCurso" routerLinkActive="active">Curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listaProfessor" routerLinkActive="active">Professor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listaAmbiente" routerLinkActive="active">Ambiente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listaCoordenador" routerLinkActive="active">Coordenador</a>
            </li>
        </ul>
    </div>
</div>