<app-menu-coordenador></app-menu-coordenador>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/livros.jpg">
        <span class="card-title">Cursos</span>
      </div>
      <div class="card-content">
        <p>Aqui você poderá acessar uma página onde poderá gerenciar os cursos da instituição.</p>
      </div>
      <div class="card-action">
        <a href="/curso">Clique aqui para redirecionar!</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/sala.jpeg">
        <span class="card-title">Ambientes</span>
      </div>
      <div class="card-content">
        <p>Aqui você poderá acessar uma página onde poderá gerenciar os ambientes da instituição.</p>
      </div>
      <div class="card-action">
        <a href="/ambiente">Clique aqui para redirecionar!</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/professor.jpeg">
        <span class="card-title">Professores</span>
      </div>
      <div class="card-content">
        <p>Aqui você poderá acessar uma página onde poderá gerenciar o cadastro dos Professores da instituição.</p>
      </div>
      <div class="card-action">
        <a href="/professor">Clique aqui para redirecionar!</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/livros.jpg">
        <span class="card-title">Coordenadores</span>
      </div>
      <div class="card-content">
        <p>Aqui você poderá acessar uma página onde poderá gerenciar o cadastro dos coordenadores da instituição.</p>
      </div>
      <div class="card-action">
        <a href="/coordenador">Clique aqui para redirecionar!</a>
      </div>
    </div>
  </div>
  <!--
  <div class="col s12 m5">
      <div class="card">
        <div align="center">
          <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/curso">Cursos</a>
        </div>
        <br>
        <div align="center">
          <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/ambiente">Ambientes</a>
        </div>
        <br>
        <div align="center">
          <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/professor">Professores</a>
        </div>
        <br>
        <div align="center">
          <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/coordenador">Coordenadores</a>
        </div>
      </div>
    </div>-->
</div>