<app-menu-coordenador></app-menu-coordenador>
<div class="row" style="margin-top: 10%; margin-left: 37%">
  <div class="col s12 m5">
    <div class="card">
      <div align="center">
        <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/curso">Cursos</a>
      </div>
      <br>
      <div align="center">
        <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/ambiente">Ambientes</a>
      </div>
      <br>
      <div align="center">
        <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/professor">Professores</a>
      </div>
      <br>
      <div align="center">
        <a class="waves-effect waves-light btn-large" style="width: 100% !important" routerLink="/coordenador">Coordenadores</a>
      </div>
    </div>
  </div>
</div>